*{
    box-sizing: border-box;
    
}

body {
    background-color: #282c34;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.col-sm-4 {
    border-radius: 8px;
    border-bottom-right-radius: 25px;
    border-style: solid;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

h3{
    color: white;
    font-weight: bold;
}

.forecast{
    
    font-size: 0.9em;
}

span{
    font-size: 1em;
}

li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}

#search-city{
    color: red;
}
